/* –––––– =GENERAL= ––––– */
/* –––––––––––––––––––––– */

:where([class*="--linkList"]) li {
	position: relative;
}
:where([class*="--linkList"]) a {
	display: block;
	text-decoration: none;
	color: inherit;
}
[class*="--linkExpanded"] {
	position: relative;
}
[class*="--linkExpanded"] a::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
[class*="--alignEnd"] {
	justify-content: flex-end;
}
[class*="--alignCenter"] {
	justify-content: center;
}
[class*="--hasGap"] {
	gap: var(--pageColumnGap);
}
[class*="--hashorizontalGap"] {
	gap: 0 var(--pageColumnGap);
}
[class*="--hasverticalGap"] {
	gap: var(--pageColumnGap) 0;
}
[class*="--hoverEffect"] li:hover,
[class*="--hoverEffect"] .grid__item:hover,
[class*="--hoverEffect"] .list__item:hover,
[class*="--hoverEffect"] tbody tr:hover {
	background-color: var(--hoverColor);
}
[class*="--imgCover"] {
	overflow: hidden;
}
[class*="--imgCover"] * {
	height:100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}


/* ––––––– =GRID= ––––––– */
/* –––––––––––––––––––––– */
.c-grid {
	display: grid;
	grid-template-columns: repeat(var(--pageColumns), 1fr);
	grid-template-rows: auto;
  	container-type: inline-size;
  	container-name: grid;
  	padding: 0;
  	list-style: none;
}
.c-grid__item {
	grid-column: span 12;
	container-type: inline-size;
  	container-name: grid__item;
}
@container grid (min-width: 48em) {
	:where(.c-grid--2columns) .c-grid__item,
	:where(.c-grid--4columns) .c-grid__item {
		grid-column: span 6;
	}
	:where(.c-grid--3columns) .c-grid__item,
	:where(.c-grid--6columns) .c-grid__item {
		grid-column: span 4;
	}
}
@container grid (min-width: 64em) {
	:where(.c-grid--4columns) .c-grid__item {
		grid-column: span 3;
	}
	:where(.c-grid--6columns) .c-grid__item {
		grid-column: span 2;
	}
}


/* ––––––– =CARD= ––––––– */
/* –––––––––––––––––––––– */
.c-card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	container-type: inline-size;
	container-name: card;
}
.c-card>* {
	grid-column: span 4;
}
:where(.c-card--hasImage) .c-card__fig {
	grid-row: 1;
}
@container grid__item (min-width: 48em) {
	.c-card>* {
		grid-column: span 3;
	}
	.c-card__fig {
		grid-column: 1;
		grid-row: 1 / -1;
	}
	.c-card:has(:nth-child(3)) {
		grid-template-rows: auto 1fr;
	}
	.c-card:has(:nth-child(4)) {
		grid-template-rows: repeat(2, auto) 1fr;
	}
	.c-card:has(:nth-child(5)) {
		grid-template-rows: repeat(3, auto) 1fr;
	}
	.c-card:has(:nth-child(6)) {
		grid-template-rows: repeat(4, auto) 1fr;
	}
}


/* ––––––– =LIST= ––––––– */
/* –––––––––––––––––––––– */
.c-list {
	display: flex;
	flex-direction: column;
}
.c-list--horizontal {
	flex-direction: row;
}
.c-list--wrap {
	flex-wrap: wrap;
}
.c-list--reset,
.c-list--reset {
    list-style: none;
    padding-left: 0;
}

/* ––––––– =TABLE= –––––– */
/* –––––––––––––––––––––– */
table {
	position: relative;
    text-align: left;
	width: fit-content;
    border-collapse: collapse;
    font-size: var(--fontSizeSmall);
}
caption {
	text-align: left;
}
th {
	font-weight: bold;
}
th,
td {
	vertical-align: top;
    padding: 1em;
}
tr {
    border-bottom: 1px solid var(--tableBorderColor);
}
:where(thead) tr {
	border-top: 2px solid var(--tableBorderColor);
}
:where(tbody) tr:first-of-type {
    border-top: 1px solid var(--tableBorderColor);
}
:where(thead) tr,
:where(tbody) tr:last-of-type {
    border-bottom-width: 2px;
}

/* Table-Styling */
:where(.c-table--zebraEffect) tr:nth-of-type(even) {
    background-color: var(--tableZebraColor);
}
:where(.c-table--zebraEffect) thead {
    background-color: var(--primaryColor);
	color: var(--primaryContrastColor);
}
:where(.c-table--zebraEffect thead) tr {
    border: 0;
}
:where(.c-table--gridEffect) th,
:where(.c-table--gridEffect) td {
	border-right: 1px solid var(--tableBorderColor);
}
:where(.c-table--gridEffect tbody) th:first-child,
:where(.c-table--gridEffect) td:first-child {
	border-left: 1px solid var(--tableBorderColor);
}
:where(.c-table--gridEffect.c-table--zebraEffect tr:nth-of-type(even)) td:not(:last-child),
:where(.c-table--gridEffect.c-table--zebraEffect tr:nth-of-type(even)) th:not(:last-child) {
	border-right: 1px solid white;
}


/* Shadows - to be discussed and improved */
.horizontalScroll__container {
	position: relative;
}
.horizontalScroll__container::after {
	content: "";
	position: absolute;
	top: 0;
	z-index: 2;
	bottom: 0;
	left: -1px;
	right: -1px;
	pointer-events: none;
	transition: background .5s;
}
.horizontalScroll__container.shadowRight--visible::after {
	background: linear-gradient(to right, transparent calc(100% - 20px),var(--backgroundColor) 100%);
}
.horizontalScroll__container.shadowLeft--visible::after {
	background: linear-gradient(to right, var(--backgroundColor) 0%,transparent 20px);
}
.horizontalScroll__container.shadowRight--visible.shadowLeft--visible::after {
	background: linear-gradient(to right, var(--backgroundColor) 0%,transparent 20px,transparent calc(100% - 20px),var(--backgroundColor) 100%);
}
 .horizontalScroll__area {
	overflow: auto;
}
/*.horizontalScroll__shadowRight,
.horizontalScroll__shadowLeft {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 20px;
	height: 100%;
	opacity: 0;
	transition: opacity .2s;
}
.horizontalScroll__shadowLeft {
	left: -1px;
	background: radial-gradient(closest-side,hsla(180,50%,50%,50%), hsla(180,50%,50%,0));
	background: linear-gradient(to right,  hsla(180,50%,100%,100%), hsla(180,50%,50%,0));
	background: linear-gradient(to right, var(--backgroundColor), var(--backgroundColorTranparent));
}
.horizontalScroll__shadowRight {
	right: -1px;
	background: radial-gradient(closest-side, hsla(180,50%,100%,100%), hsla(180,50%,50%,0));
	background: linear-gradient(to right, hsla(180,50%,50%,0), hsla(180,50%,100%,100%));
	background: linear-gradient(to right, var(--backgroundColorTranparent), var(--backgroundColor));
	
}
.shadowRight--visible .horizontalScroll__shadowRight,
.shadowLeft--visible .horizontalScroll__shadowLeft {
	opacity: 1;
} */


/* ––––––– =FORM= ––––––– */
/* –––––––––––––––––––––– */
.btn {
	padding: .2em 1em; 
	background-color: var(--primaryColor);
	color: var(--primaryContrastColor);
}


/* –––––– =SEARCH= –––––– */
/* –––––––––––––––––––––– */
.c-search {
	height: 100%;
	min-height: 44px;
}
.c-search__form {
	display: flex;
	height: 100%;
	border: 1px solid var(--primaryColor);
}
.c-search__input {
	flex: 1 1 auto;
	min-width: 0;
	padding: .2em 1em;
}


/* ––––– =HAMBURGER= ––––– */
/* ––––––––––––––––––––––– */
.c-hamburger {
	display: block;
	position: relative;
	z-index: 4;
	flex: 0 0 auto;
	margin: 0;
	width: clamp(44px, 100%, 55px);
	height: 44px;
	border: 0;
	text-indent: -9999px;
	cursor: pointer;
	background-color: var(--primaryColor);
	transition: background-color .5s;
}
.c-hamburger span {
	content: '';
	display: block;
	position: absolute;
	left: 15%;
	height: 2px;
	width: 70%;
	background-color: #fff;
	border-radius: 1px;
	opacity: 1;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}
.c-hamburger span:nth-child(1) {
	top: 11px;
}
.c-hamburger span:nth-child(2),
.c-hamburger span:nth-child(3) {
	top: 21px;
}
.c-hamburger span:nth-child(4) {
	top: 31px;
}

.c-hamburger--active {
	background-color: #000;
}
.c-hamburger--active span:nth-child(1) {
	top: 20px;
	width: 0%;
	left: 50%;
}
.c-hamburger--active span:nth-child(2) {
	transform: rotate(45deg);
}
.c-hamburger--active span:nth-child(3) {
	transform: rotate(-45deg);
}
.c-hamburger--active span:nth-child(4) {
	top: 20px;
	width: 0%;
	left: 50%;
}




