/* ––––––– =LIST= ––––––– */
/* –––––––––––––––––––––– */
.c-list {
	container-type: inline-size;
  	container-name: c-list;
}
.c-list__item {
	container-type: inline-size;
  	container-name: c-list__item;
}

/* ––––––– =FLEX= ––––––– */
/* –––––––––––––––––––––– */
.c-flex {
	display: flex;
	container-type: inline-size;
  	container-name: c-flex;
}
.c-flex__item {
	flex: 1 0 auto;
	container-type: inline-size;
  	container-name: c-flex__item;
}

/* ––––––– =GRID= ––––––– */
/* –––––––––––––––––––––– */
.c-grid {
	display: grid;
	grid-template-columns: repeat(var(--pageColumns), 1fr);
	grid-template-rows: auto;
  	container-type: inline-size;
  	container-name: c-grid;
}
.c-grid__item {
	container-type: inline-size;
  	container-name: c-grid__item;
}
:where([class*="--sm2"]) > .c-grid__item { grid-column: span 2; }
:where([class*="--sm3"]) > .c-grid__item { grid-column: span 3; }
:where([class*="--sm4"]) > .c-grid__item { grid-column: span 4; }
:where([class*="--sm5"]) > .c-grid__item { grid-column: span 5; }
:where([class*="--sm6"]) > .c-grid__item { grid-column: span 6; }
:where([class*="--sm7"]) > .c-grid__item { grid-column: span 7; }
:where([class*="--sm8"]) > .c-grid__item { grid-column: span 8; }
:where([class*="--sm9"]) > .c-grid__item { grid-column: span 9; }
:where([class*="--sm10"]) > .c-grid__item { grid-column: span 10; }
:where([class*="--sm11"]) > .c-grid__item { grid-column: span 11; }
:where([class*="--sm12"]) > .c-grid__item { grid-column: span 12; }


/* ––––––– =CARD= ––––––– */
/* –––––––––––––––––––––– */
.c-card {
	display: grid;
	container-type: inline-size;
	container-name: card;
}
:where(.c-card:has(img)) .c-card__fig {
	grid-row: 1;
}


/* –––––– =SEARCH= –––––– */
/* –––––––––––––––––––––– */
.c-search {
	height: 100%;
}
.c-search__form {
	display: flex;
	height: 100%;
}
.c-search__input {
	flex: 1 1 auto;
	min-width: 0;
	font-size: var(--fontSizeForms);
}
.c-search__input:focus-visible {
	outline: 0;
}
.c-search__form:has( :focus-visible) {
	box-shadow: 0 0 0 2px var(--colorPrimary);
}
body:has(.c-search__input:focus-visible) {
	background-color: color-mix(in oklab, var(--colorForeground) 10%, var(--colorBackground));
}


/* ––––––– =TABLE= –––––– */
/* –––––––––––––––––––––– */
table {
	position: relative;
    text-align: left;
	width: fit-content;
    border-collapse: collapse;
    font-size: var(--fontSizeTable);
}
caption {
	text-align: left;
}
th {
	font-weight: bold;
}
th,
td {
	vertical-align: top;
    padding: 1em;
}
tr {
    border-bottom: 1px solid var(--colorPrimary);
}
:where(thead) tr {
	border-top: 2px solid var(--colorPrimary);
}
:where(tbody) tr:first-of-type {
    border-top: 1px solid var(--colorPrimary);
}
:where(thead) tr,
:where(tbody) tr:last-of-type {
    border-bottom-width: 2px;
}

/* Table-Styling */
:where(.c-table--zebraEffect) tr:nth-of-type(even) {
    background-color: var(--colorZebraBackground);
}
:where(.c-table--zebraEffect) thead {
	color: var(--colorPrimary20);
    background-color: var(--colorPrimary120);
}
:where(.c-table--zebraEffect thead) tr {
    border: 0;
}
:where(.c-table--gridEffect) th,
:where(.c-table--gridEffect) td {
	border-right: 1px solid var(--colorPrimary);
}
:where(.c-table--gridEffect tbody) th:first-child,
:where(.c-table--gridEffect) td:first-child {
	border-left: 1px solid var(--colorPrimary);
}
:where(.c-table--gridEffect.c-table--zebraEffect tr:nth-of-type(even)) td:not(:last-child),
:where(.c-table--gridEffect.c-table--zebraEffect tr:nth-of-type(even)) th:not(:last-child) {
	border-right: 1px solid white;
}

/* ––––––– =FORM= ––––––– */
/* –––––––––––––––––––––– */
.c-form__fieldset {
	padding: 1.5em;
    background: #fbfbfb;
}
.c-form__section {
	margin: 0 0 calc(var(--marginBase) * 0.75) 0;
}
.c-form__labelContainer {
	margin: 0 0 calc(var(--marginBase) / 6) 0;
}
.c-form__inputContainer {
	position: relative;
}
.c-form__input,
.c-form__textarea {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: .5em 1em;
	border: 1px solid var(--colorPrimary);
	font-size: var(--fontSizeForms);
}
:where(.c-form__inputContainer:has(.c-form__error)) .c-form__input {
	border-color: var(--errorColor);
}
.c-form__input:focus,
.c-form__textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 3px var(--colorPrimary);
}
:where(.c-form__inputContainer:has(.c-form__error)) .c-form__input:focus {
	border-color: var(--primaryColor);
}
.c-form__error,
.c-form__hint {
	display: inline-block;
    padding: 0.45em 0.6em 0.3em;
	font-size: var(--fontSizeSmall);
}
.c-form__error {
	background: var(--colorError);
    color: white;
}
.c-flex__item:has(.c-form__input--sm) {
	flex: 0 0 max(6em, 20%);
}






/* –––––– =DIALOG= –––––– */
/* –––––––––––––––––––––– */
.c-dialog {
	max-width: 600px;
}
.c-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}


/* –––– =BREADCRUMB= –––– */
/* –––––––––––––––––––––– */
.c-breadcrumb__list {
	display: flex;
	padding: 0.5em 0;
}
.c-breadcrumb__item {
	display: flex;
	padding: 0.5em 0;
	white-space: nowrap;
}
.c-breadcrumb__item:not(:first-child)::before {
	content: "\f105";
	position: static;
	display: inline-block;
	margin: 0 .4em;
	font-family: FontAwesome;
}


/* ––––– =ACCORDION= ––––– */
/* ––––––––––––––––––––––– */
.c-accordion__header {
	list-style: none;
	font-weight: bold;
	display: flex;
	align-items: baseline;
	cursor: pointer;
	overflow: hidden;
}
.c-accordion__header::-webkit-details-marker,
.c-accordion__header::marker {
	display: none;
}
.c-accordion__header::before {
	content: "";
	position: relative;
	flex: 0 0 auto;
	top: 0.15em;
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00NDEuOSAxNjcuM2wtMTkuOC0xOS44Yy00LjctNC43LTEyLjMtNC43LTE3IDBMMjI0IDMyOC4yIDQyLjkgMTQ3LjVjLTQuNy00LjctMTIuMy00LjctMTcgMEw2LjEgMTY3LjNjLTQuNyA0LjctNC43IDEyLjMgMCAxN2wyMDkuNCAyMDkuNGM0LjcgNC43IDEyLjMgNC43IDE3IDBsMjA5LjQtMjA5LjRjNC43LTQuNyA0LjctMTIuMyAwLTE3eiI+PC9wYXRoPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .75em .86em;
	transform: rotate(-90deg);
	transition: transform .2s;
}
.c-accordion__item[open] .c-accordion__header::before,
.c-accordion__item:has([aria-expanded="true"]) .c-accordion__header::before {
	transform: rotate(0);
}
.c-accordion__item:has([aria-expanded="false"]) .c-accordion__body {
	display: none;
}
.c-accordion__header > * {
	display: inline;
	margin-bottom: 0;
}
.c-accordion__header + * {
	margin-top: 1.5em;
}


/* ––––– =HAMBURGER= ––––– */
/* ––––––––––––––––––––––– */
.c-hamburger__button {
	display: block;
	position: relative;
	z-index: 4;
	flex: 0 0 auto;
	margin: 0;
	width: clamp(44px, 100%, 55px);
	height: 44px;
	border: 0;
	text-indent: -9999px;
	cursor: pointer;
	background-color: var(--colorLink);
	transition: background-color .5s;
}
.c-hamburger__bar {
	content: '';
	display: block;
	position: absolute;
	left: 15%;
	height: 2px;
	width: 70%;
	background-color: var(--colorBackground);
	border-radius: 1px;
	opacity: 1;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}
.c-hamburger__bar:nth-child(1) {
	top: 11px;
}
.c-hamburger__bar:nth-child(2),
.c-hamburger__bar:nth-child(3) {
	top: 21px;
}
.c-hamburger__bar:nth-child(4) {
	top: 31px;
}
.c-hamburger__button--active {
	background-color: var(--colorLinkHover);
}
:where(.c-hamburger__button--active) .c-hamburger__bar:nth-child(1) {
	top: 20px;
	width: 0%;
	left: 50%;
}
:where(.c-hamburger__button--active) .c-hamburger__bar:nth-child(2) {
	transform: rotate(45deg);
}
:where(.c-hamburger__button--active) .c-hamburger__bar:nth-child(3) {
	transform: rotate(-45deg);
}
:where(.c-hamburger__button--active) .c-hamburger__bar:nth-child(4) {
	top: 20px;
	width: 0%;
	left: 50%;
}


/* – =HORIZONZAL SCROLL= – */
/* ––––––––––––––––––––––– */
.c-horizontalScroll {
	position: relative;
}
.c-horizontalScroll__scrollArea {
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.c-horizontalScroll::after {
	content: "";
	position: absolute;
	top: 0;
	z-index: 2;
	bottom: 0;
	left: -1px;
	right: -1px;
	pointer-events: none;
	transition: background .5s;
}
.c-horizontalScroll--shadowRightVisible::after {
	background: linear-gradient(to right, transparent calc(100% - 20px),var(--colorBackground) 100%);
}
.c-horizontalScroll--shadowLeftVisible::after {
	background: linear-gradient(to right, var(--colorBackground) 0%,transparent 20px);
}
.c-horizontalScroll--shadowLeftVisible.c-horizontalScroll--shadowRightVisible::after {
	background: linear-gradient(to right, var(--colorBackground) 0%,transparent 20px,transparent calc(100% - 20px),var(--colorBackground) 100%);
}

/* ––––– =MODIFIER= ––––– */
/* –––––––––––––––––––––– */
:where([class*="--linkList"]) li {
	position: relative;
}
:where([class*="--linkList"]) a {
	display: block;
	text-decoration: none;
	color: inherit;
}
[class*="--linkExpanded"] {
	position: relative;
}
:where([class*="--linkExpanded"]) a::after {
	content: "";
	position: absolute;
	z-index: 1;
	inset: 0;
}
[class*="--reset"]{
    list-style: none;
    padding: 0;
}
:where([class*="--reset"])>li {
    margin-left: 0;
}
[class*="--gap"] {
	gap: var(--pageColumnGap);
}
[class*="--horizontalGap"] {
	gap: 0 var(--pageColumnGap);
}
[class*="--verticalGap"] {
	gap: var(--pageColumnGap) 0;
}
:where([class*="--hoverEffect"]) li:hover,
:where([class*="--hoverEffect"]) .grid__item:hover,
:where([class*="--hoverEffect"]) .list__item:hover,
:where([class*="--hoverEffect"] tbody) tr:hover {
	background-color: var(--colorHoverBackground);
}
[class*="--cover"] {
	overflow: hidden;
}
[class*="--cover"] * {
	height:100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}