.wrapper {
	width: var(--pageWidth);
	max-width: var(--pageMaxWidth);
	margin: 0 auto;
}

/* –––––– HEADER –––––– */
/* –––––––––––––––––––– */
.cGrid__item--logo {
	grid-area: logo;
}
.cGrid__item--nav {
	grid-area: nav;
}
.cGrid__item--search {
	grid-area: search;
}
.cGrid__item--metanav {
	grid-area: metanav;
}
.cGrid--header {
	grid-template-columns: 32.5% 1fr 55px;
    grid-template-areas:
        "logo metanav metanav"
        "logo search nav";
}
.header {
	padding: 1em 0;
}
@media screen and (min-width: 48em) {
	.cGrid--header {
		grid-template-columns: inherit;
		grid-template-areas: 
		"logo logo logo logo . . metanav metanav metanav metanav metanav metanav"
		"logo logo logo logo . . . . search search search search"
		"nav nav nav nav nav nav nav nav nav nav nav nav";
	}
	.header {
		padding-bottom: 0;
	}
}

/* Metavav */
.metanav {
	font-size: var(--fontSizeSmall);

	& .cNav__list {
		display: flex;
		justify-content: flex-end;
	}
}

/* Search */
.cSearch {
	min-height: 44px;
}
.cSearch__form {
	border: 1px solid var(--colorPrimary);
}
.cSearch__input {
	padding: .2em 1em;
}

/* Headimage */
.cHeadimage {
	height: 20vw;
}


/* ––– NAVIGATIONEN ––– */
/* –––––––––––––––––––– */
.mainnav {
	display: none;
	border-top: 1px solid var(--colorPrimary);

	& .cNav__list--level-1 {
		display: flex;

		& .cNav__item>a {
			padding: 0.75em 1em;
			font-size: var(--fontSizeMedium);
		}
		& .cNav__item:hover .cNav__list--level-2 {
			display: block;
		}
	}

	& .cNav__list--level-2 {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: var(--colorPrimary50);
	}
}

.subnav {
	display: none;

	& .cNav__list--level-1>li {
		border-top: 1px solid var(--colorSecondary);
	}
	& .cNav__list--level-1>li>a {
		padding: 0.25em 0;
	}
}

@media screen and (min-width: 48em) {
	.mainnav,
	.subnav {
		display: block;
	}
	.mobilenav {
		display: none;
	}
}


/* ––––– =CONTENT= ––––– */
/* –––––––––––––––––––– */
.cGrid__item--breadcrumb {
	grid-area: breadcrumb;
}
.cGrid__item--main {
	grid-area: main;
}
.cGrid__item--subnav {
	grid-area: nav;
}
.cGrid--content {
	grid-template-areas: 
	"breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb"
	"main main main main main main main main main main main main";
}

@media screen and (min-width: 48em) {
	.cGrid--content {
		grid-template-areas: 
		"breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb"
		"nav nav nav . main main main main main main main main";
	}
}


/* ––––– =FOOTER= ––––– */
/* –––––––––––––––––––– */
.footer {
	padding: 1em 0;
	background-color: var(--colorPrimary30);
}
.cGrid__item--one {
	grid-area: one;
}
.cGrid__item--two {
	grid-area: two;
}
.cGrid__item--three {
	grid-area: three;
}
.cGrid__item--four {
	grid-area: four;
}
.cGrid--footer {
	grid-template-columns: 100%;
	grid-template-areas: 
	"one"
	"two"
	"three"
	"four";
}
@media screen and (min-width: 48em) {
	.cGrid--footer {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
		"one two three"
		". . four";
	}
}
.cCreated__link {
	color: inherit;
	text-decoration: none;
}