.wrapper {
	width: calc( var(--pageWidth) * 100%);
	max-width: calc( var(--pageMaxWidth) * 1px);
	margin: 0 auto;
}

@container c-grid (min-width: 48em) {
	:where(.c-grid--2columns) .c-grid__item,
	:where(.c-grid--4columns) .c-grid__item {
		grid-column: span 6;
	}
	:where(.c-grid--3columns) .c-grid__item,
	:where(.c-grid--6columns) .c-grid__item {
		grid-column: span 4;
	}
}
@container c-grid (min-width: 64em) {
	:where(.c-grid--4columns) .c-grid__item {
		grid-column: span 3;
	}
	:where(.c-grid--6columns) .c-grid__item {
		grid-column: span 2;
	}
}
@container c-grid__item (min-width: 48em) {
	.c-card>* {
		grid-column: span 3;
	}
	.c-card__fig {
		grid-column: 1;
		grid-row: 1 / -1;
	}
	.c-card:has(:nth-child(3)) {
		grid-template-rows: auto 1fr;
	}
	.c-card:has(:nth-child(4)) {
		grid-template-rows: repeat(2, auto) 1fr;
	}
	.c-card:has(:nth-child(5)) {
		grid-template-rows: repeat(3, auto) 1fr;
	}
	.c-card:has(:nth-child(6)) {
		grid-template-rows: repeat(4, auto) 1fr;
	}
}

/* –––––– HEADER –––––– */
/* –––––––––––––––––––– */
.c-grid__item--logo {
	grid-area: logo;
}
.c-grid__item--nav {
	grid-area: nav;
}
.c-grid__item--search {
	grid-area: search;
}
.c-grid__item--metanav {
	grid-area: metanav;
}
.c-grid--header {
	grid-template-areas: 
	"logo logo logo logo metanav metanav metanav metanav metanav metanav metanav metanav"
	"logo logo logo logo search search search search search search nav nav";
}
@media screen and (min-width: 48em) {
	.c-grid--header {
		grid-template-areas: 
		"logo logo logo logo . . metanav metanav metanav metanav metanav metanav"
		"logo logo logo logo . . . . search search search search"
		"nav nav nav nav nav nav nav nav nav nav nav nav";
	}
}
.header {
	padding: 1em 0;
	background-color: var(--primaryColorLight);
}

/* Metavav */
.c-metanav {
	font-size: var(--fontSizeSmall);
}

/* Search */
.c-search {
	min-height: 44px;
}
.c-search__form {
	border: 1px solid var(--primaryColor);
}
.c-search__input {
	padding: .2em 1em;
}

/* Headimage */
.c-headimage {
	height: 20vw;
}


/* ––– NAVIGATIONEN ––– */
/* –––––––––––––––––––– */
.c-mainnav {
	display: none;
}
:where(.c-mainnav) .level-1>li>a {
	padding: 0.25em 1em;
	font-size: var(--fontSizeLarge);
	font-weight: bold;
} 
:where(.c-mainnav) .level-2 {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--primaryColorLight);
} 
:where(.c-mainnav .level-1>li):hover .level-2   {
	display: block
} 
@media screen and (min-width: 48em) {
	.c-mainnav {
		display: block;
	}
	.c-mobilenav {
		display: none;
	}
}


/* ––––– =FOOTER= ––––– */
/* –––––––––––––––––––– */
.footer {
	background-color: var(--primaryColorLight);
}