/* ***********************************************************************************
FileName	: screen.css
Date		: 19.01.2023
Author		: guggenbuehlk
Purpose		: Framework-Entwicklung

*********************************************************************************** */
@import url(settings.css) layer(settings); 
@import url(basics.css) layer(basics); 
@import url(components.css) layer(components);
@import url(theme.css) layer(modules);
@import url(layout.css) layer(layout);
@import url(https://ext.cdn-backslash.ch/lib/font-awesome6/6.2.0/fontawesome-light.css) layer(fontawesome);
