/* ––––––– =GRID= ––––––– */
/* –––––––––––––––––––––– */
@container c-grid (min-width: 48em) {
	:where([class*="--md1"]) > .c-grid__item { grid-column: span 1; }
	:where([class*="--md2"]) > .c-grid__item { grid-column: span 2; }
	:where([class*="--md3"]) > .c-grid__item { grid-column: span 3; }
	:where([class*="--md4"]) > .c-grid__item { grid-column: span 4; }
	:where([class*="--md5"]) > .c-grid__item { grid-column: span 5; }
	:where([class*="--md6"]) > .c-grid__item { grid-column: span 6; }
	:where([class*="--md7"]) > .c-grid__item { grid-column: span 7; }
	:where([class*="--md8"]) > .c-grid__item { grid-column: span 8; }
	:where([class*="--md9"]) > .c-grid__item { grid-column: span 9; }
	:where([class*="--md10"]) > .c-grid__item { grid-column: span 10; }
	:where([class*="--md11"]) > .c-grid__item { grid-column: span 11; }
	:where([class*="--md12"]) > .c-grid__item { grid-column: span 12; }
}
@container c-grid (min-width: 60em) {
	:where([class*="--lg1"]) > .c-grid__item { grid-column: span 1; }
	:where([class*="--lg2"]) > .c-grid__item { grid-column: span 2; }
	:where([class*="--lg3"]) > .c-grid__item { grid-column: span 3; }
	:where([class*="--lg4"]) > .c-grid__item { grid-column: span 4; }
	:where([class*="--lg5"]) > .c-grid__item { grid-column: span 5; }
	:where([class*="--lg6"]) > .c-grid__item { grid-column: span 6; }
	:where([class*="--lg7"]) > .c-grid__item { grid-column: span 7; }
	:where([class*="--lg8"]) > .c-grid__item { grid-column: span 8; }
	:where([class*="--lg9"]) > .c-grid__item { grid-column: span 9; }
	:where([class*="--lg10"]) > .c-grid__item { grid-column: span 10; }
	:where([class*="--lg11"]) > .c-grid__item { grid-column: span 11; }
	:where([class*="--lg12"]) > .c-grid__item { grid-column: span 12; }
} 

/* ––––––– =CARD= ––––––– */
/* –––––––––––––––––––––– */
@container c-grid__item (min-width: 48em) {
	.c-card {
		grid-template-columns: repeat(4, 1fr);
	}
	.c-card>* {
		grid-column: span 3;
	}
	.c-card__fig {
		grid-column: 1;
		grid-row: 1 / -1;
	}
	.c-card:has(:nth-child(3)) {
		grid-template-rows: auto 1fr;
	}
	.c-card:has(:nth-child(4)) {
		grid-template-rows: repeat(2, auto) 1fr;
	}
	.c-card:has(:nth-child(5)) {
		grid-template-rows: repeat(3, auto) 1fr;
	}
	.c-card:has(:nth-child(6)) {
		grid-template-rows: repeat(4, auto) 1fr;
	}
}