:root {

	/* 	Layout */
	--pageMaxWidth: 1920px;
 	--pageColumns: 12; /* 138px */
 	--pageColumnGap: clamp(12px, 1.25vw, 24px); /* 24/1920 */

 	/* 	Fonts */
 	--fontSizeSmall: clamp(12px, 0.833333vw, 16px); /* meta: 16/1920 */
 	--fontSizeBase: clamp(14px, 1.041667vw, 20px); /* h4, p: 20/1920 */
 	--fontSizeMedium: clamp(16px, 1.25vw, 24px); /* h3: 24/1920 */
 	--fontSizeLarge: clamp(19px, 1.5625vw, 30px); /* h2: 30/1920 */
 	--fontSizeXLarge: clamp(28px, 2.5vw, 48px); /* h1: 48/1920 */

	/* 	Colors */
	--primaryColorH: 195;
	--primaryColorS: 95%;
	--primaryColorL: 30%;

	--secondaryColorH: 316;

	--primaryColor: hsl(var(--primaryColorH) var(--primaryColorS) var(--primaryColorL));
	--primaryColorDark: hsl(var(--primaryColorH) var(--primaryColorS) calc(var(--primaryColorL) / 2));
	--primaryColorLight: hsl(var(--primaryColorH) calc(var(--primaryColorS) / 2 ) calc(var(--primaryColorL) * 2));
	--primaryContrastColor: hsl(var(--primaryColorH) var(--primaryColorS) 100%);

	--secondaryColor: hsl(var(--secondaryColorH) var(--primaryColorS) var(--primaryColorL));
	--secondaryContrastColor: hsl(var(--secondaryColorH) var(--primaryColorS) 100%);

	--hoverColor: hsl(var(--primaryColorH) calc(var(--primaryColorS) / 2 ) 80%);
	--tableBorderColor: hsl(var(--primaryColorH) calc(var(--primaryColorS) / 2 ) 90%);
	--tableZebraColor: var(--tableBorderColor);

	--backgroundColor: white;

	/* Margins */
	--baseMargin: 1.5em;
	--headingMarginSmall: calc(var(--baseMargin) / 3);
	--headingMarginLarge: calc(var(--baseMargin) * 3);
	--headingMarginLevel2: calc(var(--baseMargin) * 3);
	--headingMarginLevel3: calc(var(--baseMargin) * 2.4);
	--headingMarginLevel4: calc(var(--baseMargin) * 1.8);
	--headingMarginLevel5: calc(var(--baseMargin) * 1.2);
	--headingMarginLevel6: calc(var(--baseMargin) * 0.6);

}

